@use "../utilities" as u;

.rating {
  display: none;

  justify-content: center;
  align-items: center;

  padding: 2em 1.1em;

  &__header {
    img {
      width: u.pxToRem(130px);
      margin-inline: auto;
    }

    p {
      text-align: center;
      width: max-content;
      margin: 1.5rem auto;
      padding: 0.2em 0.5em;
      border-radius: u.pxToRem(40px);
      color: var(--clr-orange);
      background-color: var(--clr-buttons);
    }
  }

  &__body {
    & > * {
      text-align: center;
      color: var(--clr-grey);
    }

    h2 {
      margin-bottom: 1rem;
      color: var(--clr-white);
    }
  }
}
