@use "../utilities" as u;

body {
  font-family: var(--font-family);
  font-size: u.pxToRem(15px);
  background-color: var(--clr-dark-blue);
  color: var(--clr-white);
}

.container {
  min-height: 100vh;
  margin-inline: auto;
  /* width: min(100% - u.pxToRem(40px), 100%);  */

  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}
